<style>
	#leagueInfo {
		margin-left: 10rem;
		margin-top: 5rem;
	}

	#containerHeader {
		font-weight: bold;
	}

	.container {
		margin-top: 2rem;
		height: 550px;
	}

	.containerContent {
		margin-top: 1rem;
		height: 85%;
		background-color: #DCDCDC;
		border-radius: 5px;
		overflow: auto;
	}

	.contentHeader {
		padding: 2rem;
	}

	.miniContainer {
		width: 60%;
		margin: 0.5rem 22rem;

	}

	#publish {
		margin-top: 2rem;
		float:right;
	}

	#save {
		margin-top: 2rem;
		margin-right: 2rem;
		float:right;
	}

	img {
		height: auto;
		width: 2%;
		display: inline-block;
	}

	p {
		width: 98%;
		display: inline-block;
	}

	.card {
		display: inline-block;
		width: 100%;
		vertical-align: top;
		padding-bottom: 1rem;
	}

	.cardContent {
		background-color: #A9A9A9;
		border-radius: 5px;
		height: 40px;
		margin-top: 0.5rem;
		padding: 1rem 3rem;
	}

	#cardtocardtext {
		width: 10%;
		display: inline-block;
	}

	#text {
		text-align: center;
		padding-top: 3rem;
	}

	.spacer {
		height: 30px;
	}

	.homeTeam {
		display: inline-block;
		width: 45%;
	}

	.awayTeam {
		display: inline-block;
		float: right;
	}

	.vsSpacer {
		display: inline-block;
	}

	.headerDate {
		display: inline-block;
	}

	.headerLocation {
		display: inline-block;
		float: right;
	}

</style>

<div id="leagueInfo">
  {{sport}} {{season}}
</div>


<div class="container">
	<div id="containerHeader">
		<p>Game Schedule</p>
	</div>
	<div class="containerContent">

		<div class="matchBox" *ngFor="let match of matches">

			<div class="miniContainer">
				<div class="card">
					<div class="cardHeader">
						<div class="headerDate">
							{{match.getDate()}}
						</div>
						<div class="headerLocation">
							{{match.getLocation()}}
						</div>
					</div>
					<div class="cardContent">
						<div class="homeTeam">
							{{match.getHome().getName()}}				
						</div>
						<div class="vsSpacer">
							vs.
						</div>
						<div class="awayTeam">
							{{match.getAway().getName()}}
						</div>
					</div>
				</div>

			</div> 

		
		</div>
	</div>

	<div class="footer">
		<button id="publish">Publish</button>
		<button id="save">Save</button>
	</div>

</div>