#progress-bar {
	width: 100%;
  padding-top: 150px;
  height: 23px;
}

.col {
  float: left;
  width: 33.33%;
  margin-top:40px;
}

.left-col {
  padding-right: 40px;
}

.middle-col {
  padding-right: 24px;
  padding-left: 24px;
}

.right-col {
  float: right;
  padding-left: 40px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.short {
	width:30.33%;
}

.labl {
	font-size: 20px;
}

.inline {
	display: inline-block;
}

.back-btn {
  float: left;
  background-color: #ff3333;
}

.next-btn {
	float: right;
}

.form-control {
	font-size: 16px;
}

.top {
  padding-top: 40px;
}

#form {
  background-color: #EAEFF3;
  border-radius: 10px;
  padding-top: 30px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.row {
  margin-left: 5%;
  margin-right: 5%;
}
 
.rad-but {
  margin-right: 5px;
}

.btn {
  border-radius: 7px;
}

