<style>

.toolbar {
  margin-top: 15px;
  height: 60px;
  background-color: white;
  
  color: black;
}

#logo {
  color: white;
  font-weight: 900;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  margin-left: 36%;
}

.dropdown {
  margin-top: 10px;
  float: right;
  color: white;
  margin-right: 7rem;
  display: inline-block;
  height: 100%;
  font-weight: 500;
  line-height: 20px;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  width: 150px;
  height: 80px;
  background: #EAEFF3;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  overflow: auto;
}

.dropdown-content a {
  color: black;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropped + .dropped {
  margin-top: 20px;
}

.dropped {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;

  color: #000000;
}

.home {
  margin-top: 10px;
  float: left;
  margin-left: 7rem;
  display: inline-block;
  height: 100%;
  line-height: 20px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;

  color: #000000;

}

.profile {
  height: 50%;
}

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a class="home" routerLink="/admin">Home</a>
  <a id="logo" routerLink="/admin">
      <img src="../../assets/img/RecLeagues_MainLogo.png" class="main-logo">
  </a>
  <a class="dropdown">
    <img src="../../assets/img/user_icon.png" class="profile">
    <div class="dropdown-content">
      <a class="dropped" routerLink="/settings">Profile</a>
      <a class="dropped" routerLink="/login" (click)="logout()">Log Out</a>
    </div>
  </a>
</div>
