<div class="container">
	<h1>{{league_model.name}}</h1>
    <progress id="progress-bar" value="80" max="100"></progress>
    <form (ngSubmit)="onSubmit()" #leagueForm='ngForm'>
      <div class="row short">
        <h2> Game Schedule </h2>
        <p> List times in military time (0900, 1530, 15:30 etc.) </p>
      </div>

      <div class="form-group row">
        <div class="col left-col">
        <!-- ********* DAY ******** -->
          <label class="labl" for="days">Day</label>
          <select class="form-control" id="days" required 
                [(ngModel)]="model.day" name="days" #location="ngModel">
            <option *ngFor="let day of days" [ngValue]="day"> 
              {{day}}
            </option>
          </select>

          <!-- ********* GAME LENGTH ******** -->
          <label class="labl" for="length">Game Length</label>
          <input type="text" class="form-control" id="length" required 
                 [(ngModel)]="model.length" name="length" #length="ngModel"
                 pattern="[0-9]*"> 
          <div [hidden]="length.valid || length.pristine" 
                class="alert alert-danger"> 
            Please enter a valid game length.
          </div>
        </div>


        <div class="form-group col middle-col">
          <!-- ********* START TIME ******** -->
          <label class="labl" for="start">Start Time</label>
          <input type="text" class="form-control" id="start" required 
                 [(ngModel)]="start_time" name="start" #start="ngModel"
                 pattern="^([01]\d|2[0-3]):?([0-5]\d)$"> 
          <div [hidden]="start.valid || start.pristine" 
                class="alert alert-danger"> 
            Please enter a valid game start time.
          </div>

          <!-- ********* BUFFER TIME ******** -->
          <label class="labl" for="buffer">Buffer Time</label>
          <input type="text" class="form-control" id="buffer" required 
                 [(ngModel)]="model.buffer" name="buffer" #buffer="ngModel"
                 pattern="[0-9]*"> 
          <div [hidden]="buffer.valid || buffer.pristine" 
                class="alert alert-danger"> 
            Please enter a valid buffer length.
          </div>

        </div>

        <div class="form-group col right-col">
          <!-- ********* END TIME ******** -->
          <label class="labl" for="end">End Time</label>
          <input type="text" class="form-control" id="end" required 
                 [(ngModel)]="end_time" name="end" #end="ngModel"
                 pattern="^([01]\d|2[0-3]):?([0-5]\d)$"> 
          <div [hidden]="end.valid || end.pristine" 
                class="alert alert-danger"> 
            Please enter a valid game end time.
          </div>
        </div>
      </div>
      <div class="row">
        <button type="button" (click)="addSlot()" [disabled]="days.invalid || length.invalid || start.invalid || buffer.invalid || end.invalid"> Add Times </button>
      </div>
    </form>

    <div class="row">
      <div *ngFor="let slot of slots">
        {{slot.getDay()}} from {{slot.getStart()}} to {{slot.getEnd()}}
      </div>
    </div>

	  <button type="button" class="btn btn-success back-btn" routerLink="/leagues-form-three">Back</button>

    <button type="button" class="btn btn-success next-btn" (click)="onSubmit(); leagueForm.reset()" [disabled]="days.invalid || length.invalid || start.invalid || buffer.invalid || end.invalid" routerLink="/leagues-form-five">Next</button>