<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>User's RecLeagues</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div class="menu">
      <a class="menu_name"> RecLeagues </a>
      <a class="menu_links" href="settings.html"> Account Settings </a>
      <a class="menu_links" href="sports.html"> Sports </a> 
      <a class="menu_links" href="index.html"> Home </a> 
    </div>
    <div class="row">
      <div id="greeting">
	<h1> Hello, User</h1> <!-- will fix this to be var --> 
      </div>
    </div>
    <div class="personal_menu">
      <a class="personal_link"> Teams </a> 
      <a class="personal_link"> Schedule </a> 
    </div>
</body>
</html>
