<div class="container" >
    <h1>Player Form</h1>
    <form (ngSubmit)="onSubmit()" #playerForm='ngForm'>
      <div class="form-group">
        <label for="first">First Name</label>
        <input type="text" class="form-control" id="first" required
        	[(ngModel)]="model._first" name="_first" #first="ngModel"
          pattern="[a-zA-Z \-]*"> 
		    <div [hidden]="first.valid || first.pristine" class="alert alert-danger"> 
          Please enter a valid first name.
      	</div>
      </div>

      <div class="form-group">
        <label for="last">Last Name</label>
        <input type="text" class="form-control" id="last" required
        	[(ngModel)]="model._last" name="_last" #last="ngModel"
          pattern="[a-zA-Z \-]*">
        <div [hidden]="last.valid || last.pristine" class="alert alert-danger"> 
          Please enter a valid last name.
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" required
        	[(ngModel)]="model._email" name="_email" #email="ngModel"
          pattern="[a-zA-Z0-9\-]*@tufts.edu">
      </div>

      <div [hidden]="email.valid || email.pristine" class="alert alert-danger"> 
          Please enter a valid email (example@tufts.edu)
        </div>

      <div class="form-group">
        <label for="cell">Cell (for sms updates if desired)</label>
        <input type="text" class="form-control" id="cell"
        	[(ngModel)]="model._cell" name="_cell" #cell="ngModel">
      </div>


      <button type="button" class="btn btn-success" (click)="onSubmit(); playerForm.reset()" [disabled]="first.invalid || last.invalid || email.invalid">New Player</button>

    </form>
</div>
