<div class="box">
	<div class="players bold sep"> Players </div>
	<div class="status bold sep"> Registration Status </div>
	<div class="bold row" *ngFor="let player of players">
		<div class="img"> 
			<!-- Get image from db..? -->
			<img class="img" src="assets/img/EmptyProf.png" alt="Profile Image">
		</div>
		<div class="players p_rows" [ngStyle]="{ 'font-weight': (isCaptain(player)) ? 'bold' : 'normal'}"> 
			{{player.getFirst()}} {{player.getLast()}}
			<span *ngIf="isCaptain(player)"> (C) </span>
		</div>
		<div class="status"> 
			{{isRegistered(player)}}
		</div>
	</div>
</div>