.bold {
  font-weight: bold;
}

.players {
  display: inline-block;
  margin-left: 5%;
}

.p_rows {
  margin-left: -15%;
  padding-top: 5px;
}

.row + .row {
  margin-top: 15px;
}

.row {
  width: 90%;
  margin-left: 5%;
}

.status {
  display: inline-block;
  float: right;
  margin-right: 5%;
}

.box {
  background-color: #adaaaa;
  width: 90%;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.info {
  margin-top: 20px;
  width: 90%;
}

.sep {
  padding-bottom: 20px;
}

.img {
  width:25%;
  height:25%;
  display: inline-block;
  float: left;
}