<div class="container">
    <h1>{{model.name}}</h1>
    <progress id="progress-bar" value="60" max="100"></progress>
    <form (ngSubmit)="onSubmit()" #leagueForm='ngForm'>
      <div class="row short">
      	<h2> Registration Schedule </h2>
      </div>

      <div class="form-group row">
        <div class="col left-col">
          <!-- ********* START DATE ******** -->
          <label class="labl" for="rs_date">Start Date</label>
          <input type="text" class="form-control" id="rs_date" required 
                [(ngModel)]="reg_start_date" name="rs_date" #rs_date="ngModel" 
                pattern="^(0?[1-9]|1[012])[\/](0?[1-9]|[12][0-9]|3[01])[\/]\d{4}$">
          <div [hidden]="rs_date.valid || rs_date.pristine" 
                class="alert alert-danger"> 
            Please enter a valid date.
          </div>
          

          <!-- ********* AUTO-APPROVAL ******** -->
          <label class="switch" for="auto-approval">
            <input type="checkbox"> Auto-approval
  		    </label>
        </div>

        <div class="form-group col middle-col">
          <!-- ********* END DATE ******** -->
          <label class="labl" for="re_date">End Date</label>
          <input type="text" class="form-control" id="re_date" required 
                [(ngModel)]="reg_end_date" name="re_date" #re_date="ngModel" 
                pattern="^(0?[1-9]|1[012])[\/](0?[1-9]|[12][0-9]|3[01])[\/]\d{4}$">
          <div [hidden]="re_date.valid || re_date.pristine" 
                class="alert alert-danger"> 
            Please enter a valid date.
          </div>
        </div>
      </div>

      <!-- League Schedule -->
      <div class="row short">
      	<h2> League Schedule </h2>
      </div>

      <div class="form-group row">
        <div class="col left-col">
          <!-- ********* START DATE ******** -->
          <label class="labl" for="ls_date">Start Date</label>
          <input type="text" class="form-control" id="ls_date" required 
                [(ngModel)]="start_date" name="ls_date" #ls_date="ngModel" 
                pattern="^(0?[1-9]|1[012])[\/](0?[1-9]|[12][0-9]|3[01])[\/]\d{4}$">
          <div [hidden]="ls_date.valid || ls_date.pristine" 
                class="alert alert-danger"> 
            Please enter a valid date.
          </div>

          <!-- ********* LOCATION ******** -->
          <label class="labl" for="name">Facility</label>
          <select class="form-control" id="location" required 
                [(ngModel)]="model.location" name="location" #location="ngModel">
            <option *ngFor="let location of locations" [ngValue]="location"> 
              {{location}}
            </option>
          </select>
          <div [hidden]="location.valid || location.pristine" 
                class="alert alert-danger"> 
            Please enter a valid facility.
          </div>
        </div>

        <div class="form-group col middle-col">
          <!-- ********* END DATE ******** -->
          <label class="labl" for="le_date">End Date</label>
          <input type="text" class="form-control" id="le_date" required 
                [(ngModel)]="end_date" name="le_date" #le_date="ngModel" 
                pattern="^(0?[1-9]|1[012])[\/](0?[1-9]|[12][0-9]|3[01])[\/]\d{4}$">
          <div [hidden]="le_date.valid || le_date.pristine" 
                class="alert alert-danger"> 
            Please enter a valid date.
          </div>
        </div>
      </div>
    </form>
	<button type="button" class="btn btn-success back-btn" routerLink="/leagues-form-two">Back</button>

    <button type="button" class="btn btn-success next-btn" (click)="onSubmit(); leagueForm.reset()" [disabled]="location.invalid" routerLink="/leagues-form-four">Next</button>