<div class="inner-box">
	<div class="register">
			<p class="textlabel"> Don't have an account? <button class="login" (click)="signUp()"> Sign Up</button></p>
	</div>
	<div class="user">
		<div class="textlabel">Tufts Email</div>
		<input type="username" class="entry" id="username">
	</div>
	<div class="pass">
		<div class="textlabel">Password</div>
		<input type="password" class="entry" id="password">
		<a class="text" id="recover"> Forgot password? </a>
	</div>

	      <!-- ************* Admin or Not ************** -->
	<div class="row">
		<div class="isadmin">
			<label class="labl"> Login as Admin
				<label class="switch">
					<input type="checkbox" name="admin_flag" [(ngModel)]="adminFlag" value="true">
					<span class="slider round"></span>
				  </label>
			</label> <br> 
		</div>
		<button class="login" id="login" (click)="logIn()">Log In</button>
	</div>


</div>


<!-- Rounded switch -->
