.home {
    display: inline-block;
    width: 45%;
}

.away {
    display: inline-block;
    float: right;
}

.vs {
    display: inline-block;
    font-weight: normal;
}

.date {
    display: inline-block;
    margin-left: 25px;
}

.loc {
    display: inline-block;
    float: right;
    margin-right: 25px;
}

.card {
    height: 40px;
    margin-top: 0.5rem;
    padding: 1rem 3rem;
    background: #FFFFFF;
    border-radius: 7px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.row {
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.block {
    width: 90%;
}

.block + .block {
    padding-top: 20px;
}

.box {
    padding-bottom: 20px;
}