<div class="content" role="main">

  <!-- Launchpad -->
  <div class="my-row">
    <div class="header" id="settings">Settings</div> 
    <button class="edit" id="edit-but" target="_blank" rel="noopener" tabindex="0" routerLink="/">
      Edit </button>
  </div>

  <br> 
  <div class="box">
    <div class="top">
      <!--<img src="assets/img/tufts_jumbo.jpg" alt="Profile Image">-->
      <div class="justified">
        Full Name: {{settings.getName()}} <br>
        Pronouns: {{settings.getPronouns()}} <br>
        Language: {{settings.getLanguage()}} <br>
        Time Zone: {{settings.getTimeZone()}} 
      </div>
    </div>
  </div>
</div>