
.box {
	background-color: #e0e0eb;
	width: 100%;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	height: 70%;
}

#blank {
	color: #e0e0eb;
	color: black;
}

#prof_img {
	height: 20%;
	width: 20%;
}

.my-row {
	width: 100%;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

#profile {
	display: inline-block;
}

.header {
	font-size: 18px;
}

#edit-but {
	display: inline-block;
	float: right;
}

.justified {
	margin-left: 40%;
	text-align: left;
	float: center;
}

.content {
	display: flex;
	margin: 32px auto;
	padding: 0 16px;
	max-width: 960px;
	flex-direction: column;
	align-items: center;
}

.top {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* orig */
.box {
	width: 130%;
	background-color: white;
}

#img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 14%;
    width: 70%;
    height: 70%;
}

#settings {
	display: inline-block;
	font-weight: bold;
}

.justified {
	margin-left: 5%;
	text-align: left;
	font-size: 16px;
}

.sidebar {
	width:35%;
	background-color: #e0e0eb;
	height:400px;
	display: inline-block;
	float: left;
	padding-top:2%;
}

.info {
	margin-left: 10px;
	background-color: #e0e0eb;
	height: 400px;
	width: 63%;
	display: inline-block;
}

.title {
	font-weight: bold;
}

.data {
	background-color: silver;
	width: 40%;
	height: 30px;
	padding-left: 5px;
	padding-top: 2px;
}

.my-row {
	width: 125%;
	margin-top: 45px;
}