<div class="content" role="main">

  <h2 class="title"> Tufts University <br> 
    Intramural {{league.getSport()}} Info <br>
  </h2>

  <!-- OVERVIEW -->
  <div class="centered">
    <div class="my-row">
      <div class="header" id="league-name">League Overview</div> 
    </div>

    <!-- Logistics -->
    <div class="card-container box">
      <div class="overview-box"> 
        <div class="row">
          <div class="col2 left">
            <p *ngIf="beforeReg()" class="red"> Registration is not yet open 
            </p>
            <p *ngIf="regOpen()" class="green"> Registration is open </p>
            <p *ngIf="afterReg()" class="red"> Registration is closed </p>
          </div>
          <div class="col2 right">
            <p class="info"> Team Information </p>
          </div>
        </div>
        <div class="row">
          <div class="col2 left">
            <p class="info"> Registration Period </p>
            <div class="card small">
              <span class="first"> {{league.getReadableRegStartDate()}} @ 10:00 AM </span>
              <span class="middle1"> to </span>
              <span class="last"> {{league.getReadableRegEndDate()}} @ 10:00 PM</span> 
            </div>

            <p class="info"> Season </p>
            <div class="card small">
              <span class="first"> {{league.getReadableStartDate()}} </span>
              <span class="middle2"> to </span>
              <span class="last"> {{league.getReadableEndDate()}} </span> 
            </div>

            <p class="info"> Game Times </p>
            <div class="card small">
              <span class="first"> {{ (league.getTimeSlots())[0].getStart()}} </span>
              <span class="middle3"> to </span>
              <span class="last"> {{(league.getTimeSlots())[0].getEnd()}} </span> 
            </div>
          </div>
          <div class="col2 right">
            <p class="info"> Maximum Number of Teams </p>
            <div class="card small">
              <span class="first"> {{league.getMaxNumTeams() }}</span> 
            </div>

            <p class="info"> Minimum Players Per Team</p>
            <div class="card small">
              <span class="first"> {{league.getMinTeamSize() }}</span> 
            </div>

            <p class="info"> Location</p>
            <div class="card small">
              <span class="first"> {{league.getLocation()}} </span> 
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- League Rules -->
    <br> <br> <br> 
    <div class="my-row">
      <div class="header" id="league-rules">League Rules</div> 
      <button class="but" target="_blank" rel="noopener" tabindex="0" routerLink="/info" (click)="goToInfo()">
        Save </button>
    </div>

    <!-- RULES -->
    <div class="card-container box">
      <div class="overview-box rules"> 
        <textarea id="rules-inp" required 
               [(ngModel)]="newRules" name="rules" #rules="ngModel"> 
        </textarea> 
      </div>
    </div>

    <br> <br> <br> 

    <!-- TEAMS HDR -->
    <div class="my-row">
      <div class="header" id="league-teams">Teams</div> 
      <button class="but" target="_blank" rel="noopener" tabindex="0" (click)="setLeague()" routerLink="/league-info">
        Approve Teams </button>
    </div>

    <!-- TEAMS -->
    <div class="card-container box">
      <div class="overview-box"> 
        <p *ngIf="!teamsExist()" class="red"> There are currently no teams signed up. </p>

        <!-- ********** HEADER ********** -->
        <div *ngIf="teamsExist()" class="row tm-hdr">
          <div class="col col-1 info info3">
            Team Name
          </div>

          <div class="col col-2 info info3">
            Roster Size
          </div>

          <div class="col col-3 info info3">
            Status
          </div>

          <div class="col col-4 info info3">
            Accepting Free Agents
          </div>
        </div>

        <!-- ********** REAL TEAMS ********** -->
        <div *ngFor="let team of teams" class="row card team-box" (click)="setTeam(team)" routerLink="/team-home">
          <div class="col col-1 info info2" >
            {{team.getName()}}
          </div>

          <div class="col col-2">
            {{team.getSize()}}
          </div>

          <div class="col col-3">
            <p *ngIf="team.isApproved()"> Approved </p>
            <p *ngIf="!team.isApproved()"> Pending </p>
          </div>

          <div class="col col-4">
            <p *ngIf="team.isFreeAgents()"> Yes </p>
            <p *ngIf="!team.isFreeAgents()"> No </p>
          </div>
        </div>
      </div>
    </div>

    <br> <br> <br> 

    <!-- Schedule HDR -->
    <div class="my-row">
      <div class="header" id="league-games">Game Schedule</div> 
      <button class="but" target="_blank" rel="noopener" tabindex="0" routerlink="league-info">
        Print Scorecard </button>
    </div>

    <!-- GAME SCHEDULE -->
    <div class="card-container box">
      <div class="overview-box"> 
        <p *ngIf="!gamesExist()" class="red"> Games have not been scheduled for this league. </p>
      </div>
    </div>
  </div>
  <br> <br> <br>
</div>


<div class="content" role="main">

  <h2 class="title"> Tufts University <br> 
  	Intramural {{league.getSport()}} Info <br>
  </h2>

  <!-- OVERVIEW -->
  <div class="centered">
    <div class="my-row">
      <div class="header" id="league-overview">League Overview</div> 
    </div>

    <div class="card-container box">
      <div class="overview-box"> 
        <p *ngIf="beforeReg()" class="red"> Registration is not yet open 
        </p>
        <p *ngIf="regOpen()" class="green"> Registration is open </p>
        <p *ngIf="afterReg()" class="red"> Registration is closed </p>
        <p> Registration Start: {{league.getReadableRegStartDate()}} </p>
        <p> Registration End: {{league.getReadableRegEndDate()}} </p>
        <p> Season Length: {{league.getReadableStartDate()}} - {{league.getReadableEndDate()}} </p>
        <p> Max Teams: {{league.getMaxNumTeams() }} </p>
        <p> Min Players per Teams: {{league.getMinTeamSize() }} </p>
        <p> Players on Field: {{league.getPlayersOn() }} </p>
        <p> Facility: {{league.getLocation()}} </p>

      </div>
    </div>

    <br> <br> <br> 
    <div class="my-row">
      <div class="header" id="league-rules">League Rules</div> 
      <button class="league-but" target="_blank" rel="noopener" tabindex="0" routerLink="/info" (click)="goToInfo()">
        Save </button>
    </div>

    <!-- RULES -->
    <div class="card-container box">
      <div class="overview-box rules"> 
        <textarea id="rules-inp" required 
               [(ngModel)]="newRules" name="rules" #rules="ngModel"> 
        </textarea> 
      </div>
    </div>

    <br> <br> <br> 
    <div class="my-row">
      <div class="header" id="league-teams">Teams</div> 
    </div>

    <!-- TEAMS -->
    <div class="card-container box">
      <div class="overview-box"> 
        <p *ngIf="!teamsExist()" class="red"> There are currently no teams signed up. </p>

        <!-- ********** HEADER ********** -->
        <div *ngIf="teamsExist()" class="row tm-hdr">
          <div class="col col-1">
            Team Name
          </div>

          <div class="col col-2">
            Roster Size
          </div>

          <div class="col col-3">
            Status
          </div>

          <div class="col col-4">
            Accepting Free Agents
          </div>
        </div>

        <!-- ********** REAL TEAMS ********** -->
        <div *ngFor="let team of teams" class="row">
          <div class="col col-1" (click)="setTeam(team)" routerLink="/team-home">
            {{team.getName()}}
          </div>

          <div class="col col-2">
            {{team.getSize()}}
          </div>

          <div class="col col-3">
            <p *ngIf="team.isApproved()"> Approved </p>
            <p *ngIf="!team.isApproved()"> Pending </p>
          </div>

          <div class="col col-4">
            <p *ngIf="team.isFreeAgents()"> Yes </p>
            <p *ngIf="!team.isFreeAgents()"> No </p>
          </div>

        </div>
      </div>
    </div>

    <br> <br> <br> 
    <div class="my-row">
      <div class="header" id="league-games">Game Schedule</div> 
    </div>

    <!-- GAME SCHEDULE -->
    <div class="card-container box">
      <div class="overview-box"> 
        <p *ngIf="!gamesExist()" class="red"> Games have not been scheduled for this league. </p>
      </div>
    </div>
  </div>
  <br> <br> <br>
</div>