<div class="content" role="main">

  <!-- Launchpad -->
  <div class="my-row">
    <div class="header" id="profile">Profile</div> 
    <button class="edit" id="edit-but" target="_blank" rel="noopener" tabindex="0" routerLink="/profile-edit">
      Edit </button>
  </div>

  <br> 
  <div class="box">
    <div class="top">
      <img id="prof_img" class="justified" src="assets/img/default_prof.jpeg" alt="Profile Image"> <br> <br>
      <div class="justified">
        Full Name: {{profile.getName()}} <br>
        Email: {{profile.getEmail()}} <br>
        Cell: {{profile.getCell()}} 
      </div>
    </div>
  </div>
</div>