.box {
	background-color: #e0e0eb;
	width: 100%;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	height: 70%;
}

#blank {
	color: #e0e0eb;
	color: black;
}

#prof_img {
	height: 20%;
	width: 20%;
}

.my-row {
	width: 100%;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

#profile {
	display: inline-block;
}

.header {
	font-size: 18px;
}

#edit-but {
	display: inline-block;
	float: right;
}

.justified {
	margin-left: 40%;
	text-align: left;
	float: center;
}

.content {
	display: flex;
	margin: 32px auto;
	padding: 0 16px;
	max-width: 960px;
	flex-direction: column;
	align-items: center;
}

.top {
	padding-top: 20px;
	padding-bottom: 20px;
}