.team-box {
  /* Add shadows to create the "card" effect */
  width: 80%;
  height: 45px;
  background: #FFFFFF;
  border-radius: 7px;
  margin-left: 5%;
  padding-left: 4%;
  padding-top: 1%;
  display: inline-block;
}

.rank {
	display: inline-block;	
	padding-right: 15px;
  font-weight: bold;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

.row + .row {
	margin-top: 43px;
}

.record {
  display: inline-block;  
  float: right;
  padding-right: 3%;
}

.name {
  display: inline-block;  
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;

  color: #000000;
}

.header {
  float: right;
  padding-right: 13%;
}

.wins {
  padding-right:6px; 
}

.losses {
  padding-right:6px;  
}

.ties {
  padding-right:2px; 
}