.content {
	width: 90%;
	margin-left: 5%;
	margin-top: 4%;
}

.sidebar {
	width:25%;
	background-color: #e0e0eb;
	height:500px;
	display: inline-block;
	float: left;
	padding-top:2%;
}

.routed {
	margin-left: 10px;
	background-color: #e0e0eb;
	height: 500px;
	width: 73%;
	display: inline-block;
	overflow: scroll;
}

.nav {
	margin-top: 30px;
	margin-left: 25%;
	width: 50%;
}

.header {
	margin-left: 4%;
	margin-top: 4%;
}

.outlet {
	margin-left: 7%;
	margin-top: 3%;
}

.row {
	width: 100%;
	padding-left: 25px;
	padding-right: 25px;
}

#back-btn {
	display: inline-block;
	float: right;
	margin-top: 20px;
}

#title {
	font-weight: bold; 
	display: inline-block;
}

.inline {
	display: inline-block;
}

.btn {
	float: right;
	margin-top: 30px;
}