<div class="container">
    <h1>{{model.getName()}}</h1>
	<progress id="progress-bar" value="100" max="100"></progress>
    <div class="my-row">
	    <div class="header labl" id="Overview">Overview</div> 
  	</div>

  	<!-- ********* OVERVIEW ******** -->
	<div class="card-container box">
		<!-- ********* GENERAL ******** -->
		<div> 
			{{model.getName()}} is a {{model.getType()}} {{model.getSeason()}} league for {{model.getSport()}} at a {{model.getCompLevel()}} level.
		</div>
		<!-- ********* TEAM INFO ******** -->
		<div>
			There will be a maximum of {{model.getMaxNumTeams()}} teams, each with max of {{model.getMaxTeamSize()}} players. Free agents are {{free_agents_are}}.
		</div>
		<!-- ********* IMPT DATES ******** -->
		<div>
			Registration will start {{model.getReadableRegStartDate()}}, and end {{model.getReadableRegEndDate()}}. Teams will {{auto_approval}} be auto-approved.
			The League will start {{model.getReadableStartDate()}}, and end {{model.getReadableEndDate()}}. 
		</div>
		<!-- ********* LOCATION & TIME SLOTS ******** -->
		<div>
			Games will be played at {{model.getLocation()}} on every: 
			<div *ngFor="let slot of model.getTimeSlots()">
				<ul>
					{{slot.getDay()}}, starting {{slot.getStart()}}, and ending {{slot.getEnd()}}. Each game will be {{slot.getLength()}} minutes, with {{slot.getBuffer()}} minute buffers between them.
				</ul>
			</div>
		</div>
	</div>

	<br> <br> <br> 
	<div class="header my-row labl">Calendar</div> 
    <app-calendar [leagues]="leagues"></app-calendar>

	<button type="button" class="btn btn-success back-btn" routerLink="/leagues-form-four">Back</button>

	<button type="button" class="btn btn-success next-btn" (click)="onSubmit()" routerLink="/admin">Create League</button>
</div>