<div class="container">
    <h1>{{model.getName()}}</h1>
	<progress id="progress-bar" value="100" max="100"></progress>
    <div class="my-row">
	    <div class="header labl" id="Overview"> League Overview</div> 
  	</div>


  	<!-- Logistics -->
    <div class="card-container box">
      <div class="overview-box"> 
        <div class="row">
          <div class="col2 left">
            <p class="info"> Important Times </p>
          </div>
          <div class="col2 right">
            <p class="info"> Team Information </p>
          </div>
        </div>
        <div class="row">
          <div class="col2 left">
            <p class="info"> Registration Period </p>
            <div class="card small">
              <span class="first"> {{model.getReadableRegStartDate()}} @ 10:00 AM </span>
              <span class="middle1"> to </span>
              <span class="last"> {{model.getReadableRegEndDate()}} @ 10:00 PM</span> 
            </div>

            <p class="info"> Season </p>
            <div class="card small">
              <span class="first"> {{model.getReadableStartDate()}} </span>
              <span class="middle2"> to </span>
              <span class="last"> {{model.getReadableEndDate()}} </span> 
            </div>

            <p class="info"> Game Times </p>
            <div class="card small">
              <span class="first"> {{ (model.getTimeSlots())[0].getStart()}} </span>
              <span class="middle3"> to </span>
              <span class="last"> {{(model.getTimeSlots())[0].getEnd()}} </span> 
            </div>

            <p class="info"> Game Length </p>
            <div class="card small">
              <span class="first"> {{ (model.getTimeSlots())[0].getLength()}} mins </span>
              <span class="middle3">  </span>
              <span class="last"> Buffer Time: {{(model.getTimeSlots())[0].getBuffer()}} mins</span> 
            </div>
          </div>

          <div class="col2 right">
            <p class="info"> Maximum Number of Teams </p>
            <div class="card small">
              <span class="first"> {{model.getMaxNumTeams() }}</span> 
            </div>

            <p class="info"> Minimum Players Per Team</p>
            <div class="card small">
              <span class="first"> {{model.getMinTeamSize() }}</span> 
            </div>

            <p class="info"> Location</p>
            <div class="card small">
              <span class="first"> {{model.getLocation()}} </span> 
            </div>
          </div>
        </div>

      </div>
    </div>
	<br> 

  <!-- Cal -->
	<div class="header my-row labl">Calendar</div> 
  <app-calendar [leagues]="leagues"></app-calendar>

  <br>
  <button type="button" class="btn btn-success back-btn" routerLink="/leagues-form-four">Back</button>

  <button type="button" class="btn btn-success next-btn" (click)="onSubmit()" routerLink="/admin">Create League</button>
  <br> <br>
</div>