<style>

.toolbar {
    height: 60px;
    background-color: #3E8EDE;
    text-align: center;
  }

#logo {
	color: white;
	font-weight: 900;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	left: 50%;  
}

.my-nav {
	color: white;
	margin-left: 200px;
}

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a id="logo" routerLink="/">RecLeagues</a>
  <a class="my-nav" routerLink="/admin">Admin</a>
  <a class="my-nav" routerLink="/user-home">User</a>
  <!-- <a class="my-nav" routerLink="/info">Info example</a> -->
  <!-- <a class="my-nav" routerLink="/leagues">Leagues</a> -->
  <a class="my-nav" routerLink="/profile">Profile</a>
  <a class="my-nav" routerLink="/settings">Settings</a>
</div>
