<div class="container">
    <h1>{{model.name}}</h1>
    <progress id="progress-bar" value="40" max="100"></progress>
    <form (ngSubmit)="onSubmit()" #leagueForm='ngForm'>
      <div class="row short">
      	<h2> Teams </h2>
      </div>

      <div class="form-group row">
        <div class="col left-col">
          <!-- ********* MAX NUM TEAMS ******** -->
          <label class="labl" for="name">Maximum Number of Teams</label>
          <select class="form-control" id="team" required 
                [(ngModel)]="maxNumTeams" name="team" #team="ngModel">
            <option *ngFor="let team of numTeams" [ngValue]="team"> 
              {{team}}
            </option>
          </select>
          <div [hidden]="team.valid || team.pristine" 
                class="alert alert-danger"> 
            Please enter a valid max number of teams.
          </div> <br> 

        <!-- ********* NUM PLAYERS ON ******** -->
          <label class="labl" for="name">Number of Players on Field</label>
          <select class="form-control" id="num_play" required 
                [(ngModel)]="playersOn" name="num_play" #num_play="ngModel">
            <option *ngFor="let num_play of numPlayersOn" [ngValue]="num_play"> 
              {{num_play}}
            </option>
          </select>
          <div [hidden]="num_play.valid || num_play.pristine" 
                class="alert alert-danger"> 
            Please enter a valid number of players on the field.
          </div> <br>

        <!-- ********* FREE AGENT STATUS ******** BUGGY -->
          <label class="labl"> Free Agent Status <br>
            <input type="checkbox" name="free_agent" 
              [(ngModel)]="freeAgent" value="true">
          </label> <br> 
        </div>

        <div class="form-group col middle-col">
          <!-- ********* MIN NUM PLAYERS ******** -->
          <label class="labl" for="name">Minimum Number of Players</label>
            <select class="form-control" id="player" required 
                  [(ngModel)]="minTeamSize" name="player" #player="ngModel">
            <option *ngFor="let player of numPlayers" [ngValue]="player"> 
              {{player}}
            </option>
          </select>
          <div [hidden]="player.valid || player.pristine" 
                class="alert alert-danger"> 
            Please enter a valid min number of players per team.
          </div>
        </div>

        
      </div>
    </form>

    <button type="button" class="btn btn-success back-btn" routerLink="/leagues-form-one">Back</button>

    <button type="button" class="btn btn-success next-btn" (click)="onSubmit(); leagueForm.reset()" [disabled]="team.invalid || player.invalid || num_play.invalid" routerLink="/leagues-form-three">Next</button>

</div>