
.box {
	background-color: #e0e0eb;
	width: 100%;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	height: 70%;
}

#blank {
	color: #e0e0eb;
	color: black;
}

#prof_img {
	height: 20%;
	width: 20%;
}

.my-row {
	width: 100%;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

#profile {
	display: inline-block;
}

.header {
	font-size: 18px;
}

#edit-but {
	display: inline-block;
	float: right;
}

.justified {
	margin-left: 40%;
	text-align: left;
	float: center;
}

.content {
	display: flex;
	margin: 32px auto;
	padding: 0 16px;
	max-width: 960px;
	flex-direction: column;
	align-items: center;
}

.top {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* orig */
.short {
	width: 50%;
}

.box {
	width: 130%;
	background-color: white;
}

.labl {
	padding-top: 5px;
}

#settings {
	display: inline-block;
}

#img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 65%;
    height: 65%;
}

#file {
	margin-bottom: 40px;
	display: inline-block;
	padding-left: 5px;
}

#file-btn {
	margin-bottom: 40px;
	display: inline-block;
	float: right;
	padding-right: 5px;
	
}

.justified {
	margin-left: 5%;
	text-align: left;
	font-size: 16px;
}

.sidebar {
	width:35%;
	background-color: #e0e0eb;
	height:400px;
	display: inline-block;
	float: left;
	padding-top:2%;
}

.info {
	padding-top:6px;
	padding-bottom:6px;
	margin-left: 10px;
	background-color: #e0e0eb;
	height: 400px;
	width: 63%;
	display: inline-block;
	overflow: auto;
}

.my-row {
	width: 125%;
	margin-top: 45px;
}