<div class="content" role="main">

  <!-- Launchpad -->
  <div class="my-row">
    <div class="header" id="settings">Settings</div> 
    <button class="edit" id="edit-but" target="_blank" rel="noopener" 
    		tabindex="0" (click)="onSubmit()" [disabled]="name.invalid 
    		|| pros.invalid || email.invalid || pass.invalid || passwordConfirm !== settings.password"
    		routerLink="/settings">
      Save </button>
  </div>

  <br> 
  <div class="box">

    <div class="sidebar">
      <img id="prof_img" id="img" [src]="url" alt="Profile Image">
      <input type="file" id="file" (change)="onSelectedImage($event)">
      <button id="file-btn" (click)="uploadImage()"> Upload </button>
    </div>

    <div class="info">
      <div class="justified">
      	<!-- ******** NAME ********* -->
      	<label class="labl" for="name">Full Name</label>
        <input type="text" class="form-control short" id="name" required 
               [(ngModel)]="settings.full_name" name="name" #name="ngModel"
               pattern="[a-zA-Z\- ]*"> 
        <div [hidden]="name.valid || name.pristine" 
              class="alert alert-danger short"> 
          Please enter a name with letters and hyphens.
        </div>

        <!-- ******** EMAIL ********* -->
        <label class="labl" for="email">Email</label>
        <input type="text" class="form-control short" id="email" required
               [(ngModel)]="settings.email" name="email" #email="ngModel"
               pattern="[a-zA-Z0-9\-.]*@tufts.edu"> 
        <div [hidden]="email.valid || email.pristine" 
              class="alert alert-danger short"> 
          Please enter a valid tufts email.
        </div>

        <!-- ******** PRONOUNS ********* -->
        <label class="labl" for="pros">Pronouns</label>
        <select class="form-control short" id="pros" required 
              [(ngModel)]="settings.pronouns" name="pros" 
              #pros="ngModel">
	        <option *ngFor="let pro of prons" [ngValue]="pro"> 
	          {{pro}}
	        </option>
      	</select>
        <div [hidden]="pros.valid || pros.pristine" 
              class="alert alert-danger short"> 
          Please enter a valid pronouns.
        </div>
        
        <!-- ******** PASSWORD ********* -->
        <label class="labl" for="pass">Password</label>
        <input type="text" class="form-control short" id="pass" required
               [(ngModel)]="settings.password" name="pass" #pass="ngModel"> 
        <div [hidden]="pass.valid || pass.pristine" 
              class="alert alert-danger short"> 
          Please enter a valid password.
        </div>

        <!-- ******** PASSWORD CONFIRMATION********* -->
        <label class="labl" for="pass2">Confirm Password</label>
        <input type="text" class="form-control short" id="pass2" required
               [(ngModel)]="passwordConfirm" name="pass2" #pass2="ngModel"> 
        <div [hidden]="passwordConfirm === settings.password || 
              pass2.pristine" class="alert alert-danger short"> 
          Please enter a matching password.
        </div>
      </div>
    </div>
  </div>
</div>

