<div class="container">
    <h1>Join a Team, Ming</h1>
    <form (ngSubmit)="onSubmit()" #joinTeamForm='ngForm'>
    	<div class="form-group">
	        <label for="captain">Team</label>
	        <select class="form-control" id="team-sel" required 
	                [(ngModel)]="model" name="team" #team="ngModel">
	          <option selected="selected" disabled> Select team </option>
	          <option *ngFor="let team of avail_teams" [ngValue]="team"> 
	            {{team.name}}
	          </option>
	        </select>
	        <div [hidden]="team.valid" 
	              class="alert alert-danger"> 
	          Please enter a valid team.
	        </div>
	      </div>

	      <button type="button" class="btn btn-success" (click)="onSubmit(); joinTeamForm.reset()" [disabled]="team.invalid">Join Team</button>

    </form>
</div>