
<div class='app'>
  <h1> {{title}} </h1>
  <nav>
    <a routerLink="/teams" routerLinkActive="active"> Teams - </a>
    <a routerLink="/" routerLinkActive="active"> - Remove Teams </a>
  </nav>
  <router-outlet></router-outlet>
  <div class='app-top'>
    <button (click)='toggleVisible()'>See Calendar</button>
    <button (click)='toggleWeekends()'>Toggle Weekends</button>
    <button (click)='gotoPast()'>go to a date in the past</button>
    (Click a date/time to add an event)
  </div>

  <div class='app-calendar' *ngIf="calendarVisible">
    <full-calendar
      #calendar
      defaultView="dayGridMonth"
      [header]="{
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      }"
      [plugins]="calendarPlugins"
      [weekends]="calendarWeekends"
      [events]="calendarEvents"
      (dateClick)="handleDateClick($event)"
    ></full-calendar>
  </div>

</div>
