.content {
	width: 90%;
	margin-left: 5%;
	margin-top: 2%;
	padding-bottom: 25px;
}

.sidebar {
	width:25%;
	height:600px;
	display: inline-block;
	float: left;
	padding-top:2%;
	overflow: auto;
	background: #EAEFF3;
	border-radius: 5px;
}

.routed {
	margin-left: 10px;
	height: 600px;
	width: 73%;
	display: inline-block;
	overflow: scroll;
	background: #EAEFF3;
	border-radius: 5px;
}

.nav {
	height:46px;
	width: 100%;
	background: #EAEFF3;
	padding-left: 20px;
	padding-top: 15px;
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	color: black;
	margin-top: 25px; 
}

.nav2 {
	background-color: #3E8EDE;
	font-weight: 600;
	color: white;
}

.header {
	margin-left: 4%;
	margin-top: 4%;
}

.outlet {
	margin-left: 7%;
	margin-top: 3%;
}

.row {
	width: 100%;
	padding-left: 25px;
	padding-right: 25px;
}

.back-btn {
	display: inline-block;
	float: right;
	margin-top: 20px;
	background: #3E8EDE;
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	/* identical to box height */
	border-radius: 7px;
	color: #FFFFFF;

}

#title {
	font-weight: bold; 
	display: inline-block;
}

.inline {
	display: inline-block;
}

.btn {
	float: right;
	margin-top: 30px;
}

/* inv player */
#inv-col {
	width: 80%;
	margin-left: 10%;
	margin-top: 50px;
}

#invite {
	float:left;
	margin-left: 5px;
	margin-top: 8px;
	background-color: #35c04f;
	border-radius: 7px;
	font-family: Work Sans;
}

.labl {
	display: inline-block;
}

.but {
	display: inline-block;
	float: right;
	font-family: Work Sans;
	border-radius: 7px;
	color: #FFFFFF;
	background: #3E8EDE;
}

.included {
	background-color: white;
	min-height: 275px;
	max-height: 275px;
	padding-bottom: 15px;
	overflow: auto;
}

.emails {
	height: 30px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}