<div id="leagueInfo">
  {{sport}} {{season}}
</div>


<div class="container">
	<div id="containerHeader">
		<p>League Info</p>
		<img src="../../assets/img/edit.png" id="edit" alt="Edit Icon">
	</div>
	<div class="containerContent">
		<div class="contentHeader">League Schedule</div>
		<div class="miniContainer">
			<div class="card">
				<div class="cardHeader">
					Start Date
				</div>
				<div class="cardContent">
					{{league.getReadableStartDate()}}
				</div>
			</div>
			<div id="cardtocardtext">
				<div id="text">to</div>
			</div>
			<div class="card">
				<div class="cardHeader">
					End Date
				</div>
				<div class="cardContent">
					{{league.getReadableEndDate()}}
				</div>
			</div>
		</div>

		<div class="miniContainer">
			<div class="card">
				<div class="cardHeader">
					Facility
				</div>
				<div class="cardContent">
					{{league.getLocation()}}
				</div>
			</div>
		</div>

		<div class="contentHeader">Game Schedule</div>

		<div class="dayBox" *ngFor="let timeslot of league.getTimeSlots()">

			<div class="miniContainer" id="firstContainer">
				<div class="card">
					<div class="cardHeader">
						Day
					</div>
					<div class="cardContent">
						{{timeslot.getDay()}}
					</div>
				</div>
			</div>


			<div class="miniContainer">
				<div class="card">
					<div class="cardHeader">
						Start Time
					</div>
					<div class="cardContent">
						{{timeslot.getStart()}}
					</div>
				</div>
				<div id="cardtocardtext">
				</div>
				<div class="card">
					<div class="cardHeader">
						End Time
					</div>
					<div class="cardContent">
						{{timeslot.getEnd()}}
					</div>
				</div>
			</div>

			<div class="miniContainer">
				<div class="card">
					<div class="cardHeader">
						Game Length
					</div>
					<div class="cardContent">
						{{timeslot.getLength()}}
					</div>
				</div>
				<div id="cardtocardtext"></div>
				<div class="card">
					<div class="cardHeader">
						Buffer Time
					</div>
					<div class="cardContent">
						{{timeslot.getBuffer()}}
					</div>
				</div>
			</div>

			<div class="spacer"></div>

		</div> 

		
	</div>
	<button id="generate" routerLink="/league-game-schedule">Generate</button>
</div>