.box {
	background-color: #e0e0eb;
	width: 100%;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#season-id {
	color: black;
	margin-right: 90%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.my-row {
	width: 100%;
}

#league-name {
	display: inline-block;
}

#league-but {
	display: inline-block;
	float: right;
}



#sport {
	display: inline-block;
	padding-left: 10px;
	top: 50%;
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}

#date {
	display: inline-block;
	float: right;
	padding-right: 10px;
	top: 50%;
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}



.container {
margin-top: 2rem;
height: 350px;
}	


.containerContent {
	margin-top: 1rem;
	height: 85%;
	background-color: #DCDCDC;
	border-radius: 5px;
	overflow: auto;
}

.contentHeader {
	padding: 2rem 1.5rem 0.5rem 1.5rem;
}

.card {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  margin: 1.5rem 6rem;
  padding: 0.08rem 1rem;
  background-color: silver;

}
