<div class="container" role="main">

  
  <div class="my-row">
    <div class="header" id="league-name">Leagues</div> 
    <button class="newLeague" id="league-but" (click)="openNewLeagueDialog()">
      New League </button>
  </div>

  <div class="containerContent">
  	<div class="contentHeader"> {{ season }} </div>
    
    <div class="card" *ngFor="let league of leagues" (click)="goToLeague(league)" routerLink="/info"> 
      <p id="sport"> {{league.getSport()}} </p>
      <p id="date"> {{ league.getReadableStartDate() }} - {{ league.getReadableEndDate() }} </p>
    </div>
  </div>

  <br> <br> <br> 
  <div class="header my-row">Calendar</div> 
  <app-calendar [leagues]="leagues"></app-calendar>

</div>
