<div class='app'>
  <div class='app-calendar' *ngIf="calendarVisible">
    <full-calendar
      deepChangeDetection="true"
      #calendar
      defaultView="dayGridMonth"
      [header]="{
        left: 'prev',
        center: 'title',
        right: 'next dayGridMonth,listWeek'
      }"
      [plugins]="calendarPlugins"
      [weekends]="calendarWeekends"
      [events]="calendarEvents"
      (dateClick)="handleDateClick($event)"
      (eventClick)="handleEventClick($event)"
    ></full-calendar>
  </div>

</div>
