<div class="box">
	<div class="players bold sep"> Players </div>
	<div class="status bold sep"> Registration Status </div>
	<div class="row" *ngFor="let player of players">
		<div class="img"> 
			<!-- Get image from db..? -->
			<img class="img" src="assets/img/default_prof.jpeg" alt="Profile Image">
		</div>
		<div class="players p_rows" 
			[ngStyle]="{ 'font-weight': (isCaptain(player)) ? 'bold' : 'normal'}"> 
			{{player.getFirst()}} {{player.getLast()}}
			<span *ngIf="isCaptain(player)"> (C) </span>
		</div>
		<div class="status"> 
			{{isRegistered(player)}}
		</div>
	</div>
</div>
<div class="info">
	All players must be registered before the registration period
	ends on <span class="bold"> {{league.getReadableRegEndDate()}}
	</span>. If not all players
	are registered, the team will not be able to participate in the 
	league.
</div>