.bold {
	font-weight: bold;
	font-family: Work Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
}

.players {
	display: inline-block;
	margin-left: 5%;
}

.p_rows {
	margin-left: -15%;
	padding-top: 5px;
}

.row + .row {
	margin-top: 15px;
}

.row {
	height: 46px;
	width: 90%;
	margin-left: 5%;
	font-weight: normal;
}

.status {
	display: inline-block;
	float: right;
	margin-right: 5%;
}

.box {
	width: 90%;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #FFFFFF;
	border-radius: 7px;
}

.info {
	margin-top: 20px;
	width: 90%;
}

.sep {
	padding-bottom: 20px;
}

.img {
	width:20%;
    height:75%;
	display: inline-block;
	float: left;
}