<div class="content" role="main">

  <h2 class="title"> {{ title }} </h2>
  <!-- Launchpad -->
  <div class="my-row">
    <div class="header" id="season">{{ season }}</div> 
  </div>
  <br>

  <!-- Leagues -->
  <div class="card-container box">
    <div *ngFor="let leagueL of leftLeagues; let i = index" class="row">
      <div class="league-box left-half col" (click)="goToLeague(leagueL)" routerLink="/user-info">
        <img [src]="getLeagueLogo(leagueL)" class="sport-logo">
        <p id="sport"> {{leagueL.getSport()}} </p>
        <p id="date"> {{ leagueL.getReadableStartDate() }} - {{ leagueL.getReadableEndDate() }} </p>
      </div>
      <div *ngIf="i < rightLeagues.length" class="league-box right-half col" (click)="goToLeague(rightLeagues[i])" routerLink="/user-info">
        <img [src]="getLeagueLogo(rightLeagues[i])" class="sport-logo">
        <p id="sport"> {{rightLeagues[i].getSport()}} </p>
        <p id="date"> {{ rightLeagues[i].getReadableStartDate() }} - {{ rightLeagues[i].getReadableEndDate() }} </p>
      </div>
    </div>
  </div>

  <!-- My Teams -->
  <div class="my-row">
    <div class="header" id="season">My Teams</div> 
  </div>
  <br> 
  <div class="card-container box">
      <div class="league-box teams" target="_blank" rel="noopener" *ngFor="let league of myLeagues; let i = index" (click)="goToLeague(league)" routerLink="/user-info">
        <img [src]="getLeagueLogo(league)" class="sport-logo">
        <p id="sport"> {{ myTeams[i].getName() }} </p>
        <p id="date"> {{ league.getReadableStartDate() }} - {{ league.getReadableEndDate() }} in {{ league.getLocation()}} </p>
      </div>
  </div>

  <!-- Calendar -->
  <div class="header my-row">Calendar</div> 
  <app-calendar [leagues]="leagues"></app-calendar>
  <br> <br>
</div>